.App {
  text-align: center;
}

h2, h3, p {
  color: black;
}

.TeamMember{
  background-color: rgb(248, 224, 87);
  border: 3px solid rgb(20, 112, 20);
  border-radius: 20px;
  box-shadow: 0 5px 4px rgba(112, 56, 56, 0.3), 0 5px 2px rgba(112, 56, 56, 0.3);
  margin: 20px auto;
  width: 30%;
} 


